body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* ÅTERANVÄNDBARA KLASSER */
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.center {
    justify-content: center;
    align-items: center;
}
.align {
    text-align: center;
}
.between {
    justify-content: space-between;
}
.top {
    margin-top: 2rem;
}
.bottom {
    margin-bottom: 2rem;
}
.left {
    margin-left: 2rem;
}
.right {
    margin-right: 2rem;
}
p {
    margin: 0;
    font-size: 12pt;
}
hr {
    background-color: #6d6876;
    width: 780px;
    height: 2px;
    border: none;
    margin: 1rem 0rem;
}


/* KLASSER */

nav {
    background-color: #e6989b;
    color: white;
}

.material-icons.md-48 { 
    font-size: 48px; 
    color: #6d6876;
    margin: 0 10rem;
}
.material-icons.md-36 { 
    font-size: 36px; 
    color: #6d6876;
}

h1 {
    color: #6d6876;
    font-size: 4rem;
    font-style: normal;
    margin: 0;
}

h2 {
    color: #6d6876;
    font-size: 2rem;
    font-style: normal;
    margin: 1rem 6rem;
}

img:hover, span:hover {
    cursor: pointer;

}


